name: Continuous Integration

on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  test-typescript:
    name: TypeScript Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4.0.0

      - uses: pnpm/action-setup@v2.4.0
        with:
          version: 8.6.12

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v3
        with:
          node-version: 18
          check-latest: true
          cache: 'pnpm'

      - name: Install Dependencies
        id: npm-ci
        run: pnpm i --frozen-lockfile

      - name: Check Format
        id: npm-format-check
        run: pnpm isPretty

      - name: Lint
        id: npm-lint
        run: pnpm lint

      - name: Test
        id: npm-ci-test
        run: pnpm ci-test
