name: Lint Code Base

on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  lint:
    name: Lint Code Base
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: read
      statuses: write

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v4.1.1

      - uses: pnpm/action-setup@v2.4.0
        with:
          version: 8.6.12

      - name: Setup Node.js
        id: setup-node
        uses: actions/setup-node@v4
        with:
          node-version: 18
          check-latest: true
          cache: 'pnpm'

      - name: Install Dependencies
        id: install
        run: pnpm i --frozen-lockfile

      - name: Lint Code Base
        id: super-linter
        uses: super-linter/super-linter/slim@v5
        env:
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TYPESCRIPT_DEFAULT_STYLE: prettier
          VALIDATE_JSCPD: false
